# e.g. time ansible-playbook -K -b setup_playbook.yml -vvvv ;

---
- name: run setup ceph cluster playbook from lib/ceph-deploy-ansible
  import_playbook: lib/ceph-deploy-ansible/ansible/playbook.yml

- hosts: clients
  become: True
  tasks:
    - name: "install postgres on client0"
      become: yes
      shell: |
        sudo su -c "useradd postgres" ;
        sudo su -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >  /etc/apt/sources.list.d/pgdg.list' ;
        sudo su -c "wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -" ;
        sudo su -c "sudo apt-get update" ;
        sudo su -c "yes | apt-get install postgresql-10" ;
        sudo su -c "yes | apt-get install postgresql-server-dev-10" ;
        sudo su -c "yes | apt-get install postgresql-contrib" ;
